page-daily-report {
  .col {
    padding: 1px;
  }
  .clockdaliy {
    height: 27px;
    margin: 7px 0 7px 0px;
    margin-left: -55%;
  }
  .avtar img {
    width: 25px;
    height: 25px;
    margin-right: 2.5%;
    margin-top: 4%;
  }
  .dateStyle {
    padding: 0px;
    background: transparent;
    color: white;
  }
  .datetime-ios {
    padding: 11px 8px 11px 16px;
    font-size: 0.8em;
  }

  .item-md ion-thumbnail ion-img,
  .item-md ion-thumbnail img {
    width: 70px;
    height: 70px;
  }

  .item-md ion-thumbnail[item-start] {
    margin: 0px;
  }
  .item-ios ion-thumbnail ion-img,
  .item-ios ion-thumbnail img {
    width: 70px;
    height: 70px;
  }

  .item-ios ion-thumbnail[item-start] {
    margin: 0px;
  }
}
